@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2");
  font-weight: 900;
  font-display: swap;
}
body {
  font-family: Raleway;
}
h1 {
  font-family: Montserrat;
  font-weight: 700;
}
h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: italic;
}
h3,
h6 {
  ]font-weight: 700;
}
h4 {
  font-weight: 900;
}
h5 {
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
section {
  margin: 1em 0;
}

.items {
  display: inline-block;
  width: 19.5%;
  text-align: center;
  border-right: 1px solid #fff;
  padding: 3rem 0;
}

.number {
  background-color: #95e1d3;
}
.character {
  font-family: Raleway;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.ipsum {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}
.first {
  border-left: 1px solid #fff;
}
.logos {
  background-color: #f8f8f8;
}
.sixlogos {
  display: inline-block;
  width: 16%;
  text-align: center;
  padding: 3rem 0;
}
.logos .container {
  text-align: center;
}
.image {
  max-width: 3.5rem;
}
.latestblog {
  background: url("../images/bg.png");
}
.imglocation {
  text-align: center;
  max-width: 1.5rem;
  padding-top: 2.5rem;
}
.latestblog .container {
  text-align: center;
}
.textblog {
  color: #f38281;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.7rem;
  padding-bottom: 1rem;
}
.textblog::after {
  content: "";
  background: #f38281;
  height: 2.5px;
  margin: 1rem auto;
  display: block;
  width: 11%;
}
.storyaboutus {
  text-align: center;
}
.subject {
  line-height: 2.7rem;
  padding-bottom: 1rem;
}
.storyaboutus .text {
  font-size: 2rem;
  line-height: 2.6rem;
}
.storyaboutus .text::after {
  display: block;
  content: "";
  background: #f38281;
  height: 3px;
  margin: 1.5rem auto;
  width: 11%;
}
.storyaboutus .block {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-bottom: 5.5rem;
}
.picture {
  display: inline-block;
  width: 32%;
  padding-bottom: 6.5rem;
}
.picture img {
  width: 100%;
}
.secondpicture {
  margin: 0 1rem 0 1rem;
}
