@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2");
  font-weight: 900;
  font-display: swap;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: Raleway;
}
h1 {
  font-family: Montserrat;
  font-weight: 700;
}
h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: italic;
}
h3,
h6 {
  font-weight: 700;
}
h4 {
  font-weight: 900;
}
h5 {
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
section {
  margin: 1em 0;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
  background: #0000;
  padding: 1rem 0;
}
header .container {
  padding: 1.7rem 0;
  display: flex;
  justify-content: space-between;
}
.main-nav__phone {
  display: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header li {
  margin: 0 0.9rem;
  padding: 0 0.9rem;
  align-items: center;
  display: flex;
  position: relative;
}
header li:last-child {
  margin-left: 0.5rem;
}
.nav {
  display: flex;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.nav a:hover {
  color: #f4bf87;
  transition: all 0.2s ease;
}
.nav a::after {
  content: "";
  display: block;
  background: #f4bf87;
  height: 1px;
  width: 104%;
  position: absolute;
  bottom: -0.2rem;
  opacity: 0;

  left: 0rem;
}
.nav a:hover::after {
  opacity: 1;
  transition: all 0.2s ease;
}

header button {
  background: #0000;
  border: none;
}
.nav path {
  transition: all 0.2s ease;
}
.nav button:hover path {
  fill: #f4bf87;
  transition: all 0.2s ease;
}
.nav button {
  cursor: pointer;
}
.nav__img {
  display: none;
}
@media (max-width: 1024px) {
  header .container {
    padding: 0.7rem 0;
    padding-left: 1rem;
  }
  header li {
    margin: 0 0.5rem;
  }
  h2,
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.3rem 0 1rem;
  }
  .main-nav {
    display: none;
  }
  .main-nav__phone {
    display: flex;
  }
  header .container {
    padding: 0 0.7rem 0 1rem;
    align-items: center;
  }
  header .container img {
    width: 55px;
  }
}
.welcome {
  background: url(../images/Eagle.png) no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: 0;
}
.welcome .text {
  font-family: "Kaushan Script";
  color: #fff;
  font-size: 4rem;
  text-align: center;
  padding-top: 11rem;
  padding-bottom: 0.8rem;
}
.welcome h1 {
  color: #fff;
  font-size: 9rem;
  text-align: center;

  text-transform: uppercase;
  margin: auto 10.6rem;
}
.welcome h1::after {
  content: "";
  display: block;
  background: #fff;
  height: 3px;
  margin: 3rem auto 4rem;
  width: 21%;
}
.welcome button {
  font-size: 1.3rem;
  color: #fff;
  background: #0000;
  border: 3px solid #fff;
  padding: 1.3rem 6rem;
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, 0);
  transition: all 0.3s ease;
}
.welcome button:hover {
  background: #fff;
  color: #e4be8d;
  transition: all 0.3s ease;
}
.welcome button:focus {
  background: #fff;
  color: #e4be8d;
  transition: all 0.3s ease;
  border: 1px solid #e4be8d;
}
.line {
  display: flex;
  justify-content: space-between;
  margin: 8rem auto 2.5rem;
  padding-bottom: 1.1rem;
}
.line .number1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #f9efcf;
}
.welcome .item {
  font-size: 1.13rem;
  font-weight: 500;
  color: #f9efcf;
  position: relative;
  top: 1rem;
  margin-left: 0.3rem;
}
.gap {
  display: flex;
  /*width: 25%;*/
  flex: 1;
  position: relative;
}
.gap::before {
  content: "";
  display: block;
  position: absolute;
  background: #f9efcf;
  height: 3px;
  margin: -1rem auto;
  width: 92%;
}

@media (max-width: 1024px) {
  .welcome .text {
    font-size: 3rem;
    padding-top: 8rem;
  }
  .welcome h1 {
    font-size: 6rem;
  }
  .welcome button {
    font-size: 1.1rem;
    border: 4px solid #fff;
    padding: 1rem 6rem;
  }
  .line {
    margin: 6.5rem auto 2.5rem;
  }
  .gap::before {
    height: 4px;
  }
  .line .number1 {
    font-size: 1.5rem;
  }
  .welcome .item {
    font-size: 0.88rem;
    top: 0.7rem;
  }
}

@media (max-width: 768px) {
  .welcome .text {
    font-size: 2.25rem;
    padding-top: 5.63rem;
  }
  .welcome h1 {
    font-size: 3rem;
    margin: 2.5rem 1rem auto;
    line-height: 3.63rem;
  }
  .welcome h1::after {
    height: 4px;
    margin: 4rem auto 3rem;
    width: 54%;
  }
  .welcome button {
    padding: 1rem 5rem;
  }
  .line .number1 {
    display: none;
  }
  .welcome .item {
    display: none;
  }
  .line {
    margin: 4.25rem auto 0;
  }
}

.logos {
  background-color: #f8f8f8;
}
.line-logo {
  display: flex;
  flex-wrap: nowrap;
}
.sixlogos {
  flex: 1;
  text-align: center;
  padding: 3rem 0;
}
.logos .container {
  text-align: center;
}
.image {
  max-width: 3.5rem;
}
@media (max-width: 768px) {
  .line-logo {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .sixlogos {
    flex-basis: 50%;
    padding: 1.5rem 0;
  }
  .sixlogos:nth-child(3n) {
    flex-basis: 100%;
  }
}
.works {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns:
    minmax(159px, 1fr) minmax(159px, 1fr) minmax(159px, 1fr)
    minmax(159px, 1fr);
}
.works .element {
  display: flex;
}
.works .element img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.works .element:nth-child(1) {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
.works .element:nth-child(2) {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
}
.works .element:nth-child(3) {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/3;
}
.works .element:nth-child(4) {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
}
.works .element:nth-child(5) {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}
.works .element:nth-child(6) {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
}
.works .element:nth-child(7) {
  position: relative;
  grid-column: 4/5;
  grid-row: 2/3;
}
.works .column-25__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.3s ease-in;
}
.works .column-25__hover h6 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1rem;
}
.works .column-25__hover img {
  margin: 2rem auto 4rem;
}
.works .column-25__hover p {
  color: #ffffff;
}
.works .element:hover .column-25__hover {
  opacity: 1;
  transition: all 0.3s ease-in;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .works {
    grid-template-areas:
      "a c"
      "e c"
      "g c"
      "d b"
      "f f";
    grid-template-columns: 1fr 1fr;
  }
  .works .element:nth-child(1) {
    grid-area: a;
  }
  .works .element:nth-child(2) {
    grid-area: b;
  }
  .works .element:nth-child(3) {
    grid-area: c;
  }
  .works .element:nth-child(4) {
    grid-area: d;
  }
  .works .element:nth-child(5) {
    grid-area: e;
  }
  .works .element:nth-child(6) {
    grid-area: f;
  }
  .works .element:nth-child(7) {
    grid-area: g;
  }
  .works .element:nth-child(6) img {
    height: 152px;
  }
}

.storyaboutus {
  text-align: center;
  margin-top: 3.5rem;
}
.subject {
  line-height: 2.7rem;
  padding-bottom: 1rem;
}
.storyaboutus .text {
  font-size: 2rem;
  line-height: 2.6rem;
}
.storyaboutus .text::after {
  display: block;
  content: "";
  background: #f38281;
  height: 4px;
  margin: 1.5rem auto;
  width: 11%;
}
.storyaboutus .block {
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding-bottom: 4.5rem;
}
.column-33 {
  position: relative;
  cursor: pointer;
}
.picture {
  position: relative;
  flex: 1;
}
.all__picture {
  display: flex;
  justify-content: space-between;

  padding-bottom: 5.5rem;
}
.column-33 .picture img {
  width: 100%;
}

.picture__hover {
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.picture__hover:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.column-33 .picture__hover p {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1.1rem;
}

@media (max-width: 1024px) {
  .storyaboutus .block {
    font-size: 1.1rem;
  }
  .storyaboutus .text::after {
    width: 19%;
  }
  .all__picture {
    gap: 1rem;
    padding-bottom: 3.5rem;
  }
  .picture__hover {
    top: -0.6rem;
    left: -0.5rem;
  }
  .storyaboutus .text {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 768px) {
  .subject {
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }
  .storyaboutus {
    margin-top: 2.5rem;
  }
  .storyaboutus .text::after {
    width: 45%;
    margin: 2rem auto 1rem;
  }
  .storyaboutus .block {
    font-size: 0.88rem;
    line-height: 1.1rem;
    padding-bottom: 1.8rem;
  }
  .all__picture {
    flex-direction: column;
    gap: 1rem;
  }
  .picture__hover {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 2rem;
    align-items: center;
    opacity: 1;
  }
  .column-33 .picture__hover p {
    font-size: 1.1rem;
    margin-top: 0;
  }
  .picture__hover img {
    width: 30.5px;
  }
  .picture {
    display: flex;
  }
}
.number {
  background-color: #95e1d3;
}
.character {
  font-family: Raleway;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.ipsum {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}
.first {
  border-left: 1px solid #fff;
}
.items {
  flex: 1;
  text-align: center;
  border-right: 1px solid #fff;
  padding: 3rem 0;
}
.item {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .character {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .item {
    display: flex;
    flex-wrap: wrap;
  }
  .items {
    flex-basis: 50%;
    border-bottom: 1px solid #fff;
    border-right: none;
    padding: 1rem 0;
  }
  .first {
    border-left: none;
  }
  .ipsum {
    font-size: 1.1rem;
    padding-top: 0.8rem;
  }
}

.amazing-services h2 {
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.7rem;
  margin-top: 2.6rem;
  text-align: center;
}
.amazing-services h4 {
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.8rem auto 3rem;
}
.amazing-services h4::after {
  content: "";
  display: block;
  background: #f38281;
  height: 4px;
  margin: 2rem auto 5rem;
  width: 15%;
}
.amazing-services .blocks {
  display: flex;
  flex-wrap: wrap;
}
.amazing-services .block {
  display: flex;
  margin-bottom: 8.75rem;
  width: 33.3%;
}
.amazing-services .column-50 {
  display: flex;
  flex-direction: column;
}
.amazing-services .column-50 h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.75rem;
  margin: 1rem 0 1.3rem;
}
.amazing-services .column-50 h5 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  max-width: 16.8rem;
  color: #2d3033;
}
.amazing-services .block img {
  margin-right: 1.8rem;
}
@media (max-width: 1024px) {
  .amazing-services .column-50 h3 {
    font-size: 1.1rem;
    margin: 1rem 0 1rem;
  }
  .amazing-services .column-50 h5 {
    font-size: 0.88rem;
  }
  .amazing-services .block {
    display: flex;
    margin-bottom: 4.25rem;
  }
  .amazing-services h4 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  .amazing-services h2 {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 768px) {
  .amazing-services h4::after {
    margin: 2rem auto 4rem;
    width: 49%;
  }
  .amazing-services .block {
    flex-basis: 100%;
    margin-bottom: 2.25rem;
  }
  .amazing-services .column-50 h5 {
    line-height: 1.08rem;
  }
  .amazing-services .block img {
    margin-right: 1rem;
    width: 57px;
  }
  .amazing-services .column-50 h3 {
    margin: 0.5rem 0 0.8rem;
  }
}

.design h2 {
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.7rem;
  padding-top: 2.6rem;
  text-align: center;
}
.design h4 {
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.8rem auto 3rem;
}
.design h4::after {
  content: "";
  display: block;
  background: #f38281;
  height: 4px;
  margin: 2rem auto 5rem;
  width: 15%;
}
.design {
  background-image: url("../images/mountains.png");
  background-size: cover;
  background-position: center;
}
.design__device__tablet {
  display: flex;
  justify-content: center;
}
.design__device__phone {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.design__device__phone img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(100%, -10%);
  height: 80%;
}
.design__device {
  position: relative;
  padding-bottom: 3.6rem;
}
@media (max-width: 1024px) {
  .design h4 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 768px) {
  .design__device__phone img {
    top: 50%;
    left: 50%;
    transform: translate(0%, -10%);
  }
  .design__device__tablet img {
    width: 162%;
  }
  .design__device__phone {
    top: 16px;
    left: 61%;
    height: 85%;
  }
  .design h4::after {
    margin: 2rem auto 0;
    width: 49%;
  }
  .design h4 {
    font-size: 2.25rem;
    line-height: 2.63rem;
    margin: 1.8rem auto 2rem;
  }
  .design__device {
    padding-bottom: 1.6rem;
  }
}
.service h2 {
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.7rem;
  padding-top: 2.6rem;
  text-align: center;
}
.service h4 {
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.3rem auto 3rem;
}
.service h4::after {
  content: "";
  display: block;
  background: #f38281;
  height: 4px;
  margin: 2rem auto 2.5rem;
  width: 15%;
}
.service p {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.3rem;
  padding-bottom: 4rem;
}
.service__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.service__item__img img {
  width: 100%;
  height: 100%;
}
.service__column-50 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.8rem;
}
.service__column-50__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #c6cbcd;
}
.service__column-50__row h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.service__column-50 p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  text-align: initial;
  color: #2d3033;
  padding: 1rem 3rem 0 1rem;
}
.service__column-50__p {
  display: flex;
  text-align: center;
  height: 8.7rem;
  overflow-y: auto;
  border: 1px solid #c6cbcd;
  border-top: 0;
}
.service__column-50__row img {
  padding: 1.6rem 2.5rem 1.6rem 1rem;
}
.service__column-50__row__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__column-50__row__bottom {
  bottom: 0rem;
  left: 32rem;
  border: none;
  background: #0000;
}
.service__column-50__row__bottom img {
  padding-left: 0rem;
  padding-right: 0rem;
}
.service__column-50__row__bottom_rotate {
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .service h2 {
    font-size: 1.5rem;
  }
  .service h4 {
    font-size: 1.5rem;
    margin: 0 auto 3rem;
  }
  .service p {
    font-size: 0.88rem;
  }
  .service__item__img {
    flex: 1;
  }
  .service__column-50 {
    margin-left: 1.3rem;
  }
  .service__column-50__row h6 {
    font-size: 1.1rem;
  }
  .service__column-50__row img {
    padding: 1rem 1rem 1rem 1rem;
  }
  .service__column-50__p {
    height: 7.7rem;
  }
  .service__column-50__row__bottom {
    left: 25.5rem;
  }
  .service__item {
    margin-bottom: 5.5rem;
  }
}
@media (max-width: 768px) {
  .service h2 {
    font-size: 1.5rem;
    line-height: 2.18rem;
  }
  .service h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 auto 1rem;
  }
  .service h4::after {
    content: "";
    display: block;
    background: #f38281;
    height: 4px;
    margin: 2rem auto 0;
    width: 46%;
  }
  .service p {
    font-size: 0.88rem;
    padding-bottom: 2.5rem;
  }
  .service__column-50 {
    margin-left: 0;
  }
  .service__item {
    flex-direction: column;
    gap: 1.5rem;
  }
  .service__item__img {
    display: flex;
    flex: none;
    max-width: 768px;
    height: 142px;
  }
  .service__item__img img {
    object-fit: cover;
  }
  .service__column-50__row h6 {
    font-size: 0.9rem;
  }
  .service__column-50__row:nth-child(2) {
    margin: 1rem 0 1rem;
  }
  .service__column-50__row__bottom {
    left: 13.5rem;
  }
  .service__column-50__row__text {
    padding: 1rem;
  }
  .service__item {
    margin-bottom: 3rem;
  }
}

.quote {
  background-color: #f8f8f8;
}
.quote__item {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 2rem;
}
.quote button {
  border: none;
  background: #0000;
}
.quote__item__button__img-left {
  transform: rotate(270deg);
}
.quote__item__button__img-right {
  transform: rotate(90deg);
}
.quote .container {
  display: flex;
}
.quote__item__text p {
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #a9afb1;
  margin: auto 1rem 1.75rem 1.5rem;
}
.quote__item__text h2 {
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.75rem;
  padding-left: 1.5rem;
}
.quote__item__text h2::before {
  content: "";
  display: inline-block;
  background: #f38281;
  height: 4px;
  width: 4.4rem;
  margin-right: 3.5rem;
}
@media (max-width: 1024px) {
  .quote__item__text p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .quote__item__text h2 {
    font-size: 1.5rem;
  }
  .quote__item__text p {
    margin: auto 1rem 0.5rem 1.5rem;
  }
  .quote__item img {
    width: 115px;
  }
}

@media (max-width: 768px) {
  .quote button {
    display: none;
  }
  .quote__item img {
    display: none;
  }
  .quote__item__text p {
    font-size: 0.88rem;
    line-height: 1rem;
    margin: auto 0 0.5rem 0rem;
  }
  .quote__item {
    margin: 2rem auto;
  }
  .quote__item__text h2 {
    padding-left: 0;
    font-size: 1.1rem;
  }
}

.team h2 {
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.7rem;
  padding-top: 5rem;
  text-align: center;
}
.team h4 {
  font-size: 2.25rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.3rem auto 3rem;
}
.team h4::after {
  content: "";
  display: block;
  background: #f38281;
  height: 4px;
  margin: 2rem auto 2.5rem;
  width: 15%;
}
.team p {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.3rem;
  padding-bottom: 5rem;
}
.team__column-33__name {
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  color: #2d3033;
  margin: 1.2rem auto;
}
.team__column-33__info {
  font-size: 0.88rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2d3033;
  text-align: center;
}
.team__picture__hover {
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.team__picture__hover:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.team__picture__hover__social {
  display: flex;
}
.team__picture__hover__social__element a {
  height: 2.5rem;
  background: #f9efcf;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__picture__hover__social__element {
  border-right: 1px solid #0000;
}
.team__picture__hover__social__element:hover path {
  fill: #fff;
}
.team__picture__hover__social__element:hover a {
  background: #f38281;
}
@media (max-width: 1024px) {
  .team h2 {
    font-size: 1.5rem;
  }
  .team h4 {
    font-size: 1.5rem;
    margin: 0 auto 2rem;
  }
  .team p {
    font-size: 0.88rem;
    line-height: 1rem;
    padding-bottom: 4rem;
  }
  .team__picture__hover {
    height: 82%;
  }
  .team__column-33__name {
    margin: 0.5rem auto 0.8rem;
  }
  .team h2 {
    padding-top: 3rem;
  }
  .team h4::after {
    margin: 1.5rem auto 1.5rem;
  }
  .works .column-25 .element img {
    width: 100%;
  }
  .works .column-25 .column-25__hover h6 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 0.7rem;
  }
  .works .column-25 .column-25__hover img {
    margin: 2rem auto 3rem;
  }
}

@media (max-width: 768px) {
  .team h2 {
    padding-top: 2rem;
    padding-bottom: 1.3rem;
  }
  .team h4 {
    margin: 0 auto 0;
  }
  .team h4::after {
    margin: 2rem auto 1.3rem;
    width: 46%;
  }
  .team p {
    padding-bottom: 2rem;
  }
  .all__picture .column-33 .picture {
    max-width: 768px;
    height: 237px;
  }
  .column-33 .picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .team__column-33__name {
    margin: 0.9rem auto 0.8rem;
  }
  .team__column-33__info {
    margin-bottom: 0.8rem;
  }
  .team__picture__hover {
    top: 0;
    left: 0;
    background: none;
    opacity: 1;
  }
  .team__picture__hover__social {
    position: absolute;
    right: -0.1rem;
    bottom: 1.3rem;
  }
  .all__picture {
    padding-bottom: 2rem;
  }
}
.quote-none {
  background: none;
  margin: 5.3rem auto;
}
@media (max-width: 1024px) {
  .quote-none {
    margin: 3.3rem auto;
  }
}

@media (max-width: 768px) {
  .quote__item .mobile img {
    display: flex;
  }
  .quote__item {
    margin: 1rem auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

.clients {
  background-image: url("../images/bg-2.png");
  background-position: center;
  background-size: cover;
}
.clients__main {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0 0;
}
.clients__main__element {
  display: flex;
}
.clients__main__element__info {
  display: flex;
  flex-direction: column;
}
.clients__main__element img {
  padding: 1rem 2rem 1rem;
}
.clients__main__element__info h6 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #2d3033;
  padding: 1rem 0;
}
.clients__main__element__info span {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  text-transform: uppercase;
  color: #2d3033;
}
.clients__main__element__info span::after {
  content: "";
  display: block;
  background: #f38281;
  height: 4px;
  width: 4.3rem;
  margin: 2rem auto 2rem 0;
}
.clients__main__element__info p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #2d3033;
  padding-bottom: 5rem;
  padding-top: 1.5rem;
}
.clients__main__element__info {
  max-width: 23rem;
}
@media (max-width: 1024px) {
  .clients__main__element {
    display: flex;
    flex: 1;
    flex-basis: 50%;
  }
  .clients__main__element__info h6 {
    font-size: 1.1rem;
    padding: 1rem 0 0;
  }
  .clients__main__element img {
    width: 166px;
  }
  .clients__main__element__info span {
    font-size: 0.88rem;
  }
  .clients__main__element__info span::after {
    margin: 1rem auto 1rem 0;
  }
  .clients__main__element__info p {
    font-size: 0.88rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .clients__main__element {
    flex-direction: column;
    flex-basis: 100%;
  }
  .clients__main__element__img {
    display: flex;
    justify-content: center;
  }
  .clients__main {
    padding: 0;
  }
  .clients__main__element__info {
    align-items: center;
    margin: 0 auto;
  }
  .clients__main__element__info span::after {
    width: 7.3rem;
  }
  .clients__main__element__info p {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.stories {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-bottom: 5.25rem;
}
.stories__element {
  display: flex;
  flex-direction: column;
}
.stories__element__img {
  position: relative;
}
.stories__element__img .data {
  position: absolute;
  top: 57%;
  left: -3%;
}
.stories__element__info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1.3rem;
}
.stories__element__h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2d3033;
  line-height: 1.75rem;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
}
.stories__element__p {
  font-size: 1rem;
  line-height: 1.3rem;
  color: #2d3033;
  margin-bottom: 1.37rem;
}
.stories__element__info span {
  font-size: 0.8rem;
  line-height: 0.9rem;

  color: #2d3033;
  padding-right: 2rem;
}
@media (max-width: 1024px) {
  .stories__element__img {
    width: 316px;
  }
  .stories__element__img img {
    width: 100%;
  }
  .stories__element__img .data {
    width: 67px;
  }
  .stories__element__h6 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }
  .stories__element__p {
    font-size: 0.88rem;
  }
  .stories__element__info {
    gap: 0.5rem;
  }
  .stories {
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .stories {
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  .stories__element__img {
    width: 100%;
  }
  .stories__element__p {
    line-height: 1rem;
  }
}
.latestblog {
  background: url("../images/bg.png");
}
.imglocation {
  text-align: center;
  max-width: 1.5rem;
  padding-top: 2.5rem;
}
.latestblog .container {
  text-align: center;
}
.textblog {
  color: #f38281;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.7rem;
  padding-bottom: 1rem;
}
.textblog::after {
  content: "";
  background: #f38281;
  height: 3px;
  margin: 1rem auto;
  display: block;
  width: 11%;
}
@media (max-width: 1024px) {
  .textblog {
    font-size: 1.5rem;

    line-height: 2.2rem;
  }
}
@media (max-width: 768px) {
  .textblog {
    margin-top: 1rem;
  }
  .textblog::after {
    height: 4px;
    margin: 2rem auto;
    width: 43%;
  }
  .imglocation {
    max-width: 2.6rem;
  }
}

.footer__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2rem 0 1rem;
  gap: 1.8rem;
}
.footer__row__line::after {
  content: "";
  display: block;
  background: #c6cbcd;
  height: 1px;
  width: 100%;
  margin: 2.6rem auto 0;
}
.footer__row__column-33 {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.footer__row__column-33__elements {
  display: flex;
  flex-wrap: wrap;
}
.footer__row__column-33__text {
  font-size: 1.3rem;
  line-height: 1.36rem;

  color: #c6cbcd;
  font-weight: 400;
}
.footer__row__column-33__followers {
  display: flex;
  align-items: flex-end;
  margin: 2.7rem 0 1.1rem;
}
.footer__row__column-33__followers span {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.87rem;

  color: #2d3033;
}
.footer__row__column-33__followers__p {
  font-size: 1.1rem;
  font-style: italic;
  text-transform: uppercase;
  color: #2d3033;
  margin-left: 0.3rem;
}
.footer__row__column-33__followers p {
  font-size: 1.1rem;
}
.footer__row__column-33__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.3rem;
}
.footer__row__column-33__social__elements {
  display: flex;
  gap: 0.8rem;
}
.footer__row__column-33__followers__line::after {
  content: "";
  display: block;
  background: #c6cbcd;
  height: 1px;
  width: 100%;
  margin: 0.5rem auto;
}
.footer__row__column-33__social p {
  font-style: italic;
  font-size: 0.8rem;
  line-height: 0.93rem;

  color: #c6cbcd;
}
.footer__row__column-33__form {
  display: flex;
  margin-top: auto;
}

.footer__row__column-33__form input {
  font-family: Raleway;
  text-align: center;
  padding: 1rem 1.7rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #c6cbcd;
  border: 1px solid;
  border-right: none;
}
.footer__row__column-33__form button {
  text-align: center;
  padding: 1rem 1.1rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #c6cbcd;
  border: 1px solid #c6cbcd;
  text-transform: uppercase;
  color: #ffffff;
  background: #95e1d3;
  cursor: pointer;
}

.footer__row__column-33 h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;

  text-transform: uppercase;
  color: #2d3033;
  margin: 2.6rem 0 2rem;
}
.footer__row__column-33__items {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
}
.footer__row__column-33__items:last-child {
  margin-bottom: 0;
}

.footer__row__column-33__items__picture {
  width: 170px;
  height: 105px;
}
.footer__row__column-33__items__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__row__column-33__items__text {
  width: 13.88rem;
}
.footer__row__column-33__items__text h6 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  display: flex;

  text-transform: uppercase;
  color: #2d3033;
}
.footer__row__column-33__items__text span {
  font-size: 0.8rem;
  line-height: 0.9rem;
  display: flex;
  margin-top: 1rem;
  color: #2d3033;
}
.footer__row__column-33__elements__element {
  width: 90px;
  height: 88px;
}
.footer__column-33__link {
  font-size: 0.81rem;
  line-height: 0.93rem;
  text-transform: uppercase;
  color: #2d3033;
  padding-top: 2.3rem;
}
.footer__copyright p {
  font-weight: bold;
  font-size: 0.81rem;
  line-height: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  margin: 1rem 0;
}
@media (max-width: 1024px) {
  .footer__row {
    gap: 1.5rem;
  }
  .footer__row__column-33 h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  .footer__row__column-33 {
    flex-basis: 33%;
  }
  .footer__row__column-33__text {
    font-size: 0.88rem;
    line-height: 1.1rem;
  }
  .footer__row__column-33__followers p {
    font-size: 0.88rem;
  }
  .footer__row__column-33__followers span {
    font-size: 1.5rem;
  }
  .footer__row__column-33__items__picture {
    width: 115px;
    height: 71px;
  }
  .footer__row__column-33__items__text h6 {
    font-size: 0.88rem;
    line-height: 1.1rem;
  }
  .footer__row__column-33__items__text span {
    font-size: 0.75rem;
    margin-top: 0.8rem;
  }
  .footer__row__column-33__form input {
    padding: 0.6rem;
    font-size: 0.88rem;
  }
  .footer__row__column-33__form button {
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 0.88rem;
    line-height: 1rem;
  }
  .footer__column-33__link {
    font-size: 0.75rem;
    padding-top: 1.6rem;
  }
  .footer__row__column-33__img {
    width: 185px;
  }
  .footer__row__column-33__img img {
    width: 100%;
  }
  .footer__row__column-33 h3 {
    margin: 1.9rem 0 1.3rem;
  }
  .footer__row__column-33__social__elements {
    gap: 0.3rem;
  }
  .footer__row__column-33__elements__element {
    width: 78px;
    height: 76px;
  }
}

@media (max-width: 768px) {
  .footer__row {
    flex-wrap: wrap;
  }
  .footer__row__column-33 {
    width: 100%;
    align-items: center;
  }
  .footer__row__column-33__img {
    margin-left: 6rem;
  }
  .footer__row__column-33__text {
    text-align: center;
  }
  .footer__row__column-33__followers {
    position: relative;
    margin: 1.7rem 0 1.1rem;
  }
  .footer__row__column-33__followers__line::after {
    position: absolute;
    left: 9px;
    left: 17px;
    width: 88%;
    margin: -0.5rem 0;
  }
  .footer__row__column-33__social {
    gap: 1.5rem;
  }
  .footer__row__column-33__social img {
    width: 1.1rem;
  }
  .footer__row__column-33__social__elements {
    gap: 0.5rem;
  }
  .footer__row__column-33__form {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .footer__row__column-33__form input {
    text-align: start;
    padding-left: 2rem;
    width: 100%;
    border-right: 1px solid;
  }
  .footer__row__column-33__items {
    width: 100%;
  }
  .footer__row__column-33 h3 {
    margin: 0.5rem 0 1.5rem;
  }
  .footer__row__column-33__items__text span {
    font-size: 0.55rem;
    margin-top: 0.2rem;
  }
  .footer__row__column-33__elements__element {
    width: 33%;
    height: auto;
  }
  .footer__row__column-33__elements__element img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .footer__row__column-33 {
    flex-basis: 100%;
  }
  .footer__column-33__link {
    padding-top: 2rem;
  }
  .footer__row__line::after {
    margin: 2rem auto 0;
  }
}
